@import "tailwindcss";

@theme {
    --breakpoint-xs: 30rem;       /* 480px */
    --breakpoint-1080: 67.5rem;   /* 1080px */
    --breakpoint-2xl: 90rem;      /* 1440px */
    --breakpoint-1280: 80rem;     /* 1280px */
    --breakpoint-3xl: 120rem;     /* 1920px */
  }